<div class="row">
    <div class="col col-12 post-part">
        <div class="row">
            <div class="col col-md-7 ">
                <img src="~/images/test/1.jpg" class="img-fluid rounded float-right shadow-lg" alt="Responsive image">
            </div>
            <div class="col col-md-5">
                <p class="h3">Hello</p>
                <p>Helasdasdasdas\n
                    asdasdasd\n
                    1231242414\n
                    Maximasdasdsadassasdasdasd\n
                </p>
            </div>
            
        </div>
    </div>
     <div class="col col-12 post-part">
        <div class="row">
              <div class="col col-md-5">
                <p class="h3">Hello_2</p>
                <p>
                    sadasdmasd;lsad\n
                    asdsadladk;lsadasd;laskd;laskdasd;kas;dlkasd\n
                    12312312\n
                    \t        []]]
                </p>
            </div>
            <div class="col col-md-7">
                <img src="~/images/test/2.jpg" height="800" class="img-fluid rounded float-right shadow-lg" alt="Responsive image">
            </div>
        </div>
    </div>
    <div class="col col-12 post-part" style="padding-top:3rem;">
        <div class="row">
            <div class="col col-md-12 ">
                <img src="~/images/test/1.jpg"   width="100%" class="img-fluid rounded float-none shadow-lg" alt="Responsive image">
            </div>
              <div class="col col-md-6 text-center">
                <p class="h3 text-right">Hello_3</p>
                <p>
                    
                    12312312\n
                    \t        []]]
                    \t\t
                </p>
                <p>
                    helasldasld
                </p>
                <p>    <i>Nicola Itzel Parisian V</i></p>
                <p>    <i>95480 North Diamond Port Borders</i></p>
            </div>
            
        </div>
    </div>
</div>