@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron shadow-lg index-jumbotron">
    <div class="row">
        <div class="col col-sm-12 index-picture shadow">
            <div class=" text-center">
                <img class=" img-fluid img-responsive" src="~/images/pictureHope.png" height="200" alt=Logo1>
            </div>
        </div>
        <div class="col col-sm-12">
            <div>
                <h1 class="display-3">We'd like to belive you!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            </div>
        </div>
    </div>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Log In</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">Registration</a>
    </p>

</div>

<div class=" container" >
    <blockquote class="blockquote text-right">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
</div>


 <hr class="my-4">
   

<div>
    <div class="jumbotron bg-secondary shadow-lg index-jumbotron">
       
    </div>
    
</div>
