<footer class="footer blog-footer-small">
    <div class="container text-white-50 text-warning">
        <div class="row">
            <div class="col col-md-5 text-white-50">
                <h5 class="text-white-50">Heading 5</h5>
                <h6 class="text-white-50">Heading 6</h6>
                <h3 class="text-white-50">
                    Heading
                    <small class="text-muted">with muted text</small>
                </h3>
                <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
            <div class="col col-5">

            </div>
            <div class="col col-md-2">
                <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-6 float-left">
                @await Html.PartialAsync("_ChooseLanguageForm")
            </div>
            <div class="col col-sm-6 text-right">
                <p class=" text-muted">&copy; 2018 - Blog</p>      
            </div>
        </div>      
    </div>  
</footer>