@using Microsoft.AspNetCore.Identity
@using Blog.Models.DbModels

@inject SignInManager<UserIndentity> SignInManager;
@inject UserManager<UserIndentity> UserManager;

@if (SignInManager.IsSignedIn(User))
{
    <div class="btn-group">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <strong class=" text-white"> @UserManager.GetUserName(User)</strong>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
            <div class="dropdown-divider"></div>
            <div>
                <form asp-area="" asp-controller="Authefication" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                    <button type="submit" class="btn btn-block navbar-btn navbar-link"><i class="fa fa-power-off"></i>Log out</button>
                </form>
            </div>
        </div>
    </div>    
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-item" style="margin-left:1rem;"><a class="btn btn-success" asp-area="" asp-controller="Authefication" asp-action="Index"> ["Login"]</a></li>
    </ul>
}