.block-1{
    margin-top: 1rem;   
    background-color: rgb(86, 145, 197);
}

.block-2{
    margin-top: 2rem;
    height: 200px;
    background-color: rgb(186, 145, 197);
}


.block-3{
    margin-top: 1rem;
    height: 700px;
    background-color: rgb(186, 45, 97);
}