body {
    background-color: rgb(43, 62, 80);
}


/*topografia */
html {
    font-size: 1rem;
  }
 
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.main {
    margin-bottom: 60px;
    margin-top: 60px;
    background-color: steelblue;
}

.footer{
    padding-top: 2rem;
    bottom: 0;
    width: 100%;
    background-color: rgb(32, 44, 49);
}

.index-jumbotron{
    margin: 2rem;
}

.index-picture{
    padding: 4rem;
    margin-bottom: 3rem;
}