body {
    background-color: rgb(220, 229, 238);
}


/*topografia */
html {
    font-size: 1rem;
  }
 
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.main {
    margin-bottom: 60px;
    margin-top: 80px;
    background-color:rgb(243, 246, 246);
}

.footer{
    padding-top: 2rem;
    bottom: 0;
    width: 100%;
    background-color: rgb(32, 44, 49);
}

.index-jumbotron{
    margin: 2rem;
    background-color: rgb(193, 216, 221);
}

.index-picture{
    padding: 4rem;
    margin-bottom: 3rem;
}

.post-part{
    margin: 3rem;
}

.sort-controll{
    background-color: rgb(170, 209, 209);
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.posts-sm{
    margin-top: 2rem;
}

.post-sm{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.profile-content{
    margin-right: 1rem;
}